// Bootstrap brand color customization

/*     brand Colors              */

$primary:              #F8EDEB !default;
$info:                 #FEC89A !default;
$success:              #FCD5CE !default;
$warning:              #FFB5A7 !default;
$danger:               #c8553d !default;
$rose:                 #c44536 !default;
$inverse:              #772e25 !default;
 